soccerDataETL/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "soccerDataETL"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Load_DimTeam')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load_DimTeam",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:05:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": "SELECT team_id,team_long_name,team_short_name,current_timestamp() as update_time FROM socceranalysis.team;"
							},
							"sink": {
								"type": "SqlDWSink",
								"writeBehavior": "Upsert",
								"upsertSettings": {
									"keys": [
										"team_id"
									],
									"interimSchemaName": ""
								},
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "team_id",
											"type": "Int32"
										},
										"sink": {
											"name": "team_id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "team_long_name",
											"type": "String"
										},
										"sink": {
											"name": "team_long_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "team_short_name",
											"type": "String"
										},
										"sink": {
											"name": "team_short_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "update_time",
											"type": "DateTime"
										},
										"sink": {
											"name": "meta_update_date",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "MySqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DimTeam",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load_FactMatch')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load_FactMatch",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": "SELECT \n  league_id,\n  season,\n  stage,\n  DATE_FORMAT(`date`, '%Y%m%d') AS datekey,\n  match_id,\n  home_team_id ,\n  away_team_id,\n  home_team_goal,\n  away_team_goal,\n  home_player_1 ,\n  home_player_2,\n  home_player_3 ,\n  home_player_4 ,\n  home_player_5 ,\n  home_player_6 ,\n  home_player_7 ,\n  home_player_8 ,\n  home_player_9 ,\n  home_player_10 ,\n  home_player_11 ,\n  away_player_1 ,\n  away_player_2 ,\n  away_player_3 ,\n  away_player_4 ,\n  away_player_5 ,\n  away_player_6 ,\n  away_player_7 ,\n  away_player_8 ,\n  away_player_9 ,\n  away_player_10 ,\n  away_player_11 ,\n  NULL as goal ,\n  NULL as shoton ,\n  NULL as shotoff ,\n  NULL as foulcommit ,\n  NULL as card ,\n  NULL as `cross` ,\n  NULL as corner ,\n  NULL as possession ,\n  CAST(B365H as decimal(18,6)) B365H,\n  CAST(B365D as decimal(18,6)) B365D,\n  CAST(B365A as decimal(18,6)) B365A,\n  CAST(BWH as decimal(18,6)) BWH,\n  CAST(BWD as decimal(18,6)) BWD,\n  CAST(BWA as decimal(18,6)) BWA,\n  CAST(IWH as decimal(18,6)) IWH,\n  CAST(IWD as decimal(18,6)) IWD,\n  CAST(IWA as decimal(18,6)) IWA,\n  CAST(LBH as decimal(18,6)) LBH,\n  CAST(LBD as decimal(18,6)) LBD,\n CAST(LBA as decimal(18,6)) LBA,\n  CAST(PSH as decimal(18,6)) PSH,\n  CAST(PSD as decimal(18,6)) PSD,\n  CAST(PSA as decimal(18,6)) PSA,\n  CAST(WHH as decimal(18,6)) WHH,\n  CAST(WHD as decimal(18,6)) WHD,\n  CAST(WHA as decimal(18,6)) WHA,\n  CAST(SJH as decimal(18,6)) SJH,\n  CAST(SJD as decimal(18,6)) SJD,\n  CAST(SJA as decimal(18,6)) SJA,\n  CAST(VCH as decimal(18,6)) VCH,\n  CAST(VCD as decimal(18,6)) VCD,\n  CAST(VCA as decimal(18,6)) VCA,\n  CAST(GBH as decimal(18,6)) GBH,\n  CAST(GBD as decimal(18,6)) GBD,\n  CAST(GBA as decimal(18,6)) GBA,\n  CAST(BSH as decimal(18,6)) BSH,\n  CAST(BSD as decimal(18,6)) BSD,\n  CAST(BSA as decimal(18,6)) BSA,\n  current_timestamp() as update_time \n FROM socceranalysis.match;"
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dbo].[Fact_match]",
								"writeBehavior": "Insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "league_id",
											"type": "Int32"
										},
										"sink": {
											"name": "league_id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "season",
											"type": "String"
										},
										"sink": {
											"name": "season",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "stage",
											"type": "Int32"
										},
										"sink": {
											"name": "stage",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "datekey",
											"type": "String"
										},
										"sink": {
											"name": "date_id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "match_id",
											"type": "Int32"
										},
										"sink": {
											"name": "match_id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "home_team_id",
											"type": "Int32"
										},
										"sink": {
											"name": "home_team_id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "away_team_id",
											"type": "Int32"
										},
										"sink": {
											"name": "away_team_id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "home_team_goal",
											"type": "String"
										},
										"sink": {
											"name": "home_team_goal",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "away_team_goal",
											"type": "String"
										},
										"sink": {
											"name": "away_team_goal",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "home_player_1",
											"type": "Int32"
										},
										"sink": {
											"name": "home_player_1",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "home_player_2",
											"type": "Int32"
										},
										"sink": {
											"name": "home_player_2",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "home_player_3",
											"type": "Int32"
										},
										"sink": {
											"name": "home_player_3",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "home_player_4",
											"type": "Int32"
										},
										"sink": {
											"name": "home_player_4",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "home_player_5",
											"type": "Int32"
										},
										"sink": {
											"name": "home_player_5",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "home_player_6",
											"type": "Int32"
										},
										"sink": {
											"name": "home_player_6",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "home_player_7",
											"type": "Int32"
										},
										"sink": {
											"name": "home_player_7",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "home_player_8",
											"type": "Int32"
										},
										"sink": {
											"name": "home_player_8",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "home_player_9",
											"type": "Int32"
										},
										"sink": {
											"name": "home_player_9",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "home_player_10",
											"type": "Int32"
										},
										"sink": {
											"name": "home_player_10",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "home_player_11",
											"type": "Int32"
										},
										"sink": {
											"name": "home_player_11",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "away_player_1",
											"type": "Int32"
										},
										"sink": {
											"name": "away_player_1",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "away_player_2",
											"type": "Int32"
										},
										"sink": {
											"name": "away_player_2",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "away_player_3",
											"type": "Int32"
										},
										"sink": {
											"name": "away_player_3",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "away_player_4",
											"type": "Int32"
										},
										"sink": {
											"name": "away_player_4",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "away_player_5",
											"type": "Int32"
										},
										"sink": {
											"name": "away_player_5",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "away_player_6",
											"type": "Int32"
										},
										"sink": {
											"name": "away_player_6",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "away_player_7",
											"type": "Int32"
										},
										"sink": {
											"name": "away_player_7",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "away_player_8",
											"type": "Int32"
										},
										"sink": {
											"name": "away_player_8",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "away_player_9",
											"type": "Int32"
										},
										"sink": {
											"name": "away_player_9",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "away_player_10",
											"type": "Int32"
										},
										"sink": {
											"name": "away_player_10",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "away_player_11",
											"type": "Int32"
										},
										"sink": {
											"name": "away_player_11",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "goal",
											"type": "String"
										},
										"sink": {
											"name": "goal",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "shoton",
											"type": "String"
										},
										"sink": {
											"name": "shoton",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "shotoff",
											"type": "String"
										},
										"sink": {
											"name": "shotoff",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "foulcommit",
											"type": "String"
										},
										"sink": {
											"name": "foulcommit",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "card",
											"type": "String"
										},
										"sink": {
											"name": "card",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "cross",
											"type": "String"
										},
										"sink": {
											"name": "cross",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "corner",
											"type": "String"
										},
										"sink": {
											"name": "corner",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "possession",
											"type": "String"
										},
										"sink": {
											"name": "possession",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "B365H",
											"type": "Decimal"
										},
										"sink": {
											"name": "BettingOddsHomeWin_B365H",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "B365D",
											"type": "Decimal"
										},
										"sink": {
											"name": "BettingOddsDraw_B365D",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "B365A",
											"type": "Decimal"
										},
										"sink": {
											"name": "BettingOddsAwayWin_B365A",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "BWH",
											"type": "Decimal"
										},
										"sink": {
											"name": "BWH",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "BWD",
											"type": "Decimal"
										},
										"sink": {
											"name": "BWD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "BWA",
											"type": "Decimal"
										},
										"sink": {
											"name": "BWA",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "IWH",
											"type": "Decimal"
										},
										"sink": {
											"name": "IWH",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "IWD",
											"type": "Decimal"
										},
										"sink": {
											"name": "IWD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "IWA",
											"type": "Decimal"
										},
										"sink": {
											"name": "IWA",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "LBH",
											"type": "Decimal"
										},
										"sink": {
											"name": "LBH",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "LBD",
											"type": "Decimal"
										},
										"sink": {
											"name": "LBD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "LBA",
											"type": "Decimal"
										},
										"sink": {
											"name": "LBA",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "PSH",
											"type": "Decimal"
										},
										"sink": {
											"name": "PSH",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "PSD",
											"type": "Decimal"
										},
										"sink": {
											"name": "PSD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "PSA",
											"type": "Decimal"
										},
										"sink": {
											"name": "PSA",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "WHH",
											"type": "Decimal"
										},
										"sink": {
											"name": "WHH",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "WHD",
											"type": "Decimal"
										},
										"sink": {
											"name": "WHD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "WHA",
											"type": "Decimal"
										},
										"sink": {
											"name": "WHA",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "SJH",
											"type": "Decimal"
										},
										"sink": {
											"name": "SJH",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "SJD",
											"type": "Decimal"
										},
										"sink": {
											"name": "SJD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "SJA",
											"type": "Decimal"
										},
										"sink": {
											"name": "SJA",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "VCH",
											"type": "Decimal"
										},
										"sink": {
											"name": "VCH",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "VCD",
											"type": "Decimal"
										},
										"sink": {
											"name": "VCD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "VCA",
											"type": "Decimal"
										},
										"sink": {
											"name": "VCA",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "GBH",
											"type": "Decimal"
										},
										"sink": {
											"name": "GBH",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "GBD",
											"type": "Decimal"
										},
										"sink": {
											"name": "GBD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "GBA",
											"type": "Decimal"
										},
										"sink": {
											"name": "GBA",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "BSH",
											"type": "Decimal"
										},
										"sink": {
											"name": "BSH",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "BSD",
											"type": "Decimal"
										},
										"sink": {
											"name": "BSD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "BSA",
											"type": "Decimal"
										},
										"sink": {
											"name": "BSA",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "update_time",
											"type": "DateTime"
										},
										"sink": {
											"name": "meta_update_date",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "MySqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "FactMatch",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load_FactPlayerAttributes')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load_FactPlayerStats",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": "SELECT player_id,\n  DATE_FORMAT(`date`, '%Y%m%d') AS datekey,\n  cast(overall_rating  as decimal(18,6)) overall_rating,\n  cast(potential  as decimal(18,6)) potential,\n  preferred_foot ,\n  attacking_work_rate ,\n  defensive_work_rate ,\n  cast(crossing  as decimal(18,6)) crossing,\n  cast(finishing  as decimal(18,6)) finishing,\n  cast(heading_accuracy  as decimal(18,6)) heading_accuracy,\n  cast(short_passing  as decimal(18,6)) short_passing,\n  cast(volleys as decimal(18,6)) volleys,\n  cast(dribbling as decimal(18,6)) dribbling,\n  cast(curve as decimal(18,6)) curve,\n  cast(free_kick_accuracy as decimal(18,6)) free_kick_accuracy,\n  cast(long_passing as decimal(18,6)) long_passing,\n  cast(ball_control as decimal(18,6)) ball_control,\n  cast(acceleration as decimal(18,6)) acceleration,\n  cast(sprint_speed as decimal(18,6)) sprint_speed,\n  cast(agility as decimal(18,6)) agility,\n  cast(reactions as decimal(18,6)) reactions,\n  cast(balance as decimal(18,6)) balance,\n  cast(shot_power  as decimal(18,6)) shot_power,\n  cast(jumping  as decimal(18,6)) jumping ,\n  cast(stamina  as decimal(18,6)) stamina ,\n  cast(strength  as decimal(18,6)) strength,\n  cast(long_shots  as decimal(18,6)) long_shots,\n  cast(aggression  as decimal(18,6)) aggression,\n  cast(interceptions  as decimal(18,6)) interceptions,\n  cast(positioning  as decimal(18,6)) positioning,\n  cast(vision  as decimal(18,6)) vision,\n  cast(penalties  as decimal(18,6)) penalties,\n  cast(marking  as decimal(18,6)) marking,\n  cast(standing_tackle  as decimal(18,6)) standing_tackle,\n  cast(sliding_tackle  as decimal(18,6)) sliding_tackle,\n  cast(gk_diving  as decimal(18,6)) gk_diving,\n  cast(gk_handling  as decimal(18,6)) gk_handling,\n  cast(gk_kicking  as decimal(18,6)) gk_kicking,\n  cast(gk_positioning  as decimal(18,6)) gk_positioning,\n  cast(gk_reflexes  as decimal(18,6)) gk_reflexes,\n  current_timestamp() as update_time \n FROM socceranalysis.player_attributes;"
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dbo].[Fact_player_attributes]",
								"writeBehavior": "Insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "player_id",
											"type": "Int32"
										},
										"sink": {
											"name": "player_id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "datekey",
											"type": "String"
										},
										"sink": {
											"name": "date_id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "overall_rating",
											"type": "Decimal"
										},
										"sink": {
											"name": "overall_rating",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "potential",
											"type": "Decimal"
										},
										"sink": {
											"name": "potential",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "preferred_foot",
											"type": "String"
										},
										"sink": {
											"name": "preferred_foot",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "attacking_work_rate",
											"type": "String"
										},
										"sink": {
											"name": "attacking_work_rate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "defensive_work_rate",
											"type": "String"
										},
										"sink": {
											"name": "defensive_work_rate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "crossing",
											"type": "Decimal"
										},
										"sink": {
											"name": "crossing",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "finishing",
											"type": "Decimal"
										},
										"sink": {
											"name": "finishing",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "heading_accuracy",
											"type": "Decimal"
										},
										"sink": {
											"name": "heading_accuracy",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "short_passing",
											"type": "Decimal"
										},
										"sink": {
											"name": "short_passing",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "volleys",
											"type": "Decimal"
										},
										"sink": {
											"name": "volleys",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "dribbling",
											"type": "Decimal"
										},
										"sink": {
											"name": "dribbling",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "curve",
											"type": "Decimal"
										},
										"sink": {
											"name": "curve",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "free_kick_accuracy",
											"type": "Decimal"
										},
										"sink": {
											"name": "free_kick_accuracy",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "long_passing",
											"type": "Decimal"
										},
										"sink": {
											"name": "long_passing",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "ball_control",
											"type": "Decimal"
										},
										"sink": {
											"name": "ball_control",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "acceleration",
											"type": "Decimal"
										},
										"sink": {
											"name": "acceleration",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "sprint_speed",
											"type": "Decimal"
										},
										"sink": {
											"name": "sprint_speed",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "agility",
											"type": "Decimal"
										},
										"sink": {
											"name": "agility",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "reactions",
											"type": "Decimal"
										},
										"sink": {
											"name": "reactions",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "balance",
											"type": "Decimal"
										},
										"sink": {
											"name": "balance",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "shot_power",
											"type": "Decimal"
										},
										"sink": {
											"name": "shot_power",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "jumping",
											"type": "Decimal"
										},
										"sink": {
											"name": "jumping",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "stamina",
											"type": "Decimal"
										},
										"sink": {
											"name": "stamina",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "strength",
											"type": "Decimal"
										},
										"sink": {
											"name": "strength",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "long_shots",
											"type": "Decimal"
										},
										"sink": {
											"name": "long_shots",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "aggression",
											"type": "Decimal"
										},
										"sink": {
											"name": "aggression",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "interceptions",
											"type": "Decimal"
										},
										"sink": {
											"name": "interceptions",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "positioning",
											"type": "Decimal"
										},
										"sink": {
											"name": "positioning",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "vision",
											"type": "Decimal"
										},
										"sink": {
											"name": "vision",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "penalties",
											"type": "Decimal"
										},
										"sink": {
											"name": "penalties",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "marking",
											"type": "Decimal"
										},
										"sink": {
											"name": "marking",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "standing_tackle",
											"type": "Decimal"
										},
										"sink": {
											"name": "standing_tackle",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "sliding_tackle",
											"type": "Decimal"
										},
										"sink": {
											"name": "sliding_tackle",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "gk_diving",
											"type": "Decimal"
										},
										"sink": {
											"name": "gk_diving",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "gk_handling",
											"type": "Decimal"
										},
										"sink": {
											"name": "gk_handling",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "gk_kicking",
											"type": "Decimal"
										},
										"sink": {
											"name": "gk_kicking",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "gk_positioning",
											"type": "Decimal"
										},
										"sink": {
											"name": "gk_positioning",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "gk_reflexes",
											"type": "Decimal"
										},
										"sink": {
											"name": "gk_reflexes",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "update_time",
											"type": "DateTime"
										},
										"sink": {
											"name": "meta_update_date",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "MySqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "FactPlayerAttributes",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load_FactTeamAttributes')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load_FactPlayerStats",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": "SELECT  team_id,\n  DATE_FORMAT(`date`, '%Y%m%d') AS datekey,\n  CAST(buildUpPlaySpeed  as decimal(18,6)) buildUpPlaySpeed,\n  buildUpPlaySpeedClass ,\n  CAST(buildUpPlayDribbling  as decimal(18,6)) buildUpPlayDribbling,\n  buildUpPlayDribblingClass ,\n  CAST(buildUpPlayPassing  as decimal(18,6)) buildUpPlayPassing,\n  buildUpPlayPassingClass ,\n  buildUpPlayPositioningClass ,\n  CAST(chanceCreationPassing  as decimal(18,6)) chanceCreationPassing,\n  chanceCreationPassingClass ,\n  CAST(chanceCreationCrossing  as decimal(18,6)) chanceCreationCrossing,\n  chanceCreationCrossingClass ,\n  CAST(chanceCreationShooting  as decimal(18,6)) chanceCreationShooting,\n  chanceCreationShootingClass ,\n  chanceCreationPositioningClass ,\n  CAST(defencePressure  as decimal(18,6)) defencePressure,\n  defencePressureClass ,\n  CAST(defenceAggression  as decimal(18,6)) defenceAggression,\n  defenceAggressionClass ,\n  CAST(defenceTeamWidth  as decimal(18,6)) defenceTeamWidth,\n  defenceTeamWidthClass ,\n  defenceDefenderLineClass,\n  current_timestamp() as update_time  \nFROM socceranalysis.team_attributes;"
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dbo].[Fact_team_attributes]",
								"writeBehavior": "Insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "team_id",
											"type": "Int32"
										},
										"sink": {
											"name": "team_id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "datekey",
											"type": "String"
										},
										"sink": {
											"name": "date_id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "buildUpPlaySpeed",
											"type": "Decimal"
										},
										"sink": {
											"name": "buildUpPlaySpeed",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "buildUpPlaySpeedClass",
											"type": "String"
										},
										"sink": {
											"name": "buildUpPlaySpeedClass",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "buildUpPlayDribbling",
											"type": "Decimal"
										},
										"sink": {
											"name": "buildUpPlayDribbling",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "buildUpPlayDribblingClass",
											"type": "String"
										},
										"sink": {
											"name": "buildUpPlayDribblingClass",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "buildUpPlayPassing",
											"type": "Decimal"
										},
										"sink": {
											"name": "buildUpPlayPassing",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "buildUpPlayPassingClass",
											"type": "String"
										},
										"sink": {
											"name": "buildUpPlayPassingClass",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "buildUpPlayPositioningClass",
											"type": "String"
										},
										"sink": {
											"name": "buildUpPlayPositioningClass",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "chanceCreationPassing",
											"type": "Decimal"
										},
										"sink": {
											"name": "chanceCreationPassing",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "chanceCreationPassingClass",
											"type": "String"
										},
										"sink": {
											"name": "chanceCreationPassingClass",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "chanceCreationCrossing",
											"type": "Decimal"
										},
										"sink": {
											"name": "chanceCreationCrossing",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "chanceCreationCrossingClass",
											"type": "String"
										},
										"sink": {
											"name": "chanceCreationCrossingClass",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "chanceCreationShooting",
											"type": "Decimal"
										},
										"sink": {
											"name": "chanceCreationShooting",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "chanceCreationShootingClass",
											"type": "String"
										},
										"sink": {
											"name": "chanceCreationShootingClass",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "chanceCreationPositioningClass",
											"type": "String"
										},
										"sink": {
											"name": "chanceCreationPositioningClass",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "defencePressure",
											"type": "Decimal"
										},
										"sink": {
											"name": "defencePressure",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "defencePressureClass",
											"type": "String"
										},
										"sink": {
											"name": "defencePressureClass",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "defenceAggression",
											"type": "Decimal"
										},
										"sink": {
											"name": "defenceAggression",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "defenceAggressionClass",
											"type": "String"
										},
										"sink": {
											"name": "defenceAggressionClass",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "defenceTeamWidth",
											"type": "Decimal"
										},
										"sink": {
											"name": "defenceTeamWidth",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "defenceTeamWidthClass",
											"type": "String"
										},
										"sink": {
											"name": "defenceTeamWidthClass",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "defenceDefenderLineClass",
											"type": "String"
										},
										"sink": {
											"name": "defenceDefenderLineClass",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "update_time",
											"type": "DateTime"
										},
										"sink": {
											"name": "meta_update_date",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "MySqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "FactTeamAttributes",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Master_Load_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load_DimPlayer",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_DimPlayer",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load_DimTeam",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_DimTeam",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load_DimLeague",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_DimLeague",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load_FactMatch",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_DimPlayer",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Load_DimTeam",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Load_DimLeague",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_FactMatch",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load_FactPlayerAttributes",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_DimPlayer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_FactPlayerAttributes",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load_FactTeamAttributes",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_DimTeam",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_FactTeamAttributes",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Load_DimTeam')]",
				"[concat(variables('factoryId'), '/pipelines/Load_FactMatch')]",
				"[concat(variables('factoryId'), '/pipelines/Load_FactPlayerAttributes')]",
				"[concat(variables('factoryId'), '/pipelines/Load_FactTeamAttributes')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/NightlyLoad')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Master_Load_pipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-04-29T08:44:00",
						"endTime": "2023-05-12T01:44:00",
						"timeZone": "Pacific Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								23
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Master_Load_pipeline')]"
			]
		}
	]
}